@import "./variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Ajout de CSS sur la couche Bootstrap */
#cancel-cart:hover {
    color: white;
}

#cart-popup {
    display: none;
    position: absolute;
    z-index: 1021;
}